.square {
    position: relative;
    width: 213px;
    height: 330px;
    outline-color: black;
    outline-width: 2px;
    outline-style: solid
    
  }
  .square:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
  
  .content {
    position: absolute;
    width: 100%;
    height: 100%;
  }